body{
    padding: 0px;
    margin: 0px;
    color: white;
    background-image: url(Su-4720Fighter.jpg);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.Header{
    margin: 0.69444444444vh;
    margin-bottom: 2.08333333333vh;
    width: auto;
    height: 5vw;
    border-radius: 10px;
    background-color: black;
    opacity: 75%;
    display: flex;
    justify-content: space-evenly;
}
   
.Header-left{
    width: 75%;
    height: 5vw;
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
   
.Header-right{
    width: 25%;
    height: 5vw;
    padding-right: 1.171875vw;
    font-size: 1.25vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
   
.Header-right a {
    text-decoration: none;
    color: white;
}
   
.Header-right li {
    list-style: none;
}
   
.Main-body {
    width: 100%;
    max-height: 720px;
    display: flex;
}

.Separator1 {
    width: 7.8125%;
    height: 45px;
}

.Separator2 {
    width: 3.515625%;
    height: 45px;
}

.Link {
    width: 25.78125%;
    height: 80vh;
    border-radius: 25px;
    background-color: black;
    opacity: 75%;
    transition: margin 0.2s ease-in-out;
}

.Link h2 {
    display: flex;
    justify-content: center;
}

.Link a {
    text-decoration: none;
    color: white;
    opacity: 100%;
}

.Link:hover {
    margin-top: -5px;
}

.Link p {
    padding: 10px;
    opacity: 100%;
}

a#Linkfill {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}